.App {
  text-align: center;
}
.BoxContainer {
  margin: 50px;
  padding: 10px;
}
.Box {
  height: 200px;
  width: 200px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list {
  height: 10px;
  width: 10px;
  background-color: aliceblue;
  padding: 10px;
  margin: 4px;
  list-style: none;
}
